In [2]:
import pandas as pd

In [43]:
## Read in the csv data file into a Pandas dataframe
ipums_data = pd.read_csv("ipums_assignment1.csv")

In [44]:
## Create different decoders from the codebook txt file

codebook_txt = open("usa_00004.cbk.txt", 'r')

# Load all of the lines of txt and put them into a list
# When looking at the list of all lines in another cell we can start to find the places of the indexes necessary

all_lines = []
for line in codebook_txt.readlines():
    all_lines.append(line)

# Find the indexes in all_lines for the state decoder
index_1 = all_lines.index("01\t\tAlabama\n")
index_2 = all_lines.index("56\t\tWyoming\n")

# Find the indexes in all_lines for the educational attainment decoder
index_3 = all_lines.index("00\t\tN/A or no schooling\n")
index_4 = all_lines.index("11\t\t5+ years of college\n")

# Find the indexes in all_lines for the employment status decoder
index_6 = all_lines.index("3\t\tNot in labor force\n")
index_5 = index_6 - 3

In [45]:
state_decoder = {}
for line in all_lines[index_1:index_2+1]:
    line_split = line.split("\t\t")
    line_split[0] = int(line_split[0])
    line_split[1] = line_split[1][:-1]
    state_decoder[line_split[0]] = line_split[1]

In [46]:
education_decoder = {}
for line in all_lines[index_3:index_4+1]:
    line_split = line.split("\t\t")
    line_split[0] = int(line_split[0])
    line_split[1] = line_split[1][:-1]
    education_decoder[line_split[0]] = line_split[1]

In [47]:
employment_decoder = {}
for line in all_lines[index_5:index_6+1]:
    line_split = line.split("\t\t")
    line_split[0] = int(line_split[0])
    line_split[1] = line_split[1][:-1]
    employment_decoder[line_split[0]] = line_split[1]

In [48]:
ipums_data["State"].replace(state_decoder, inplace = True) 
ipums_data["Educational.Attainment"].replace(education_decoder, inplace = True)
ipums_data["Employment.Status"].replace(employment_decoder, inplace = True)

In [49]:
ipums_data

         Unnamed: 0    State Educational.Attainment   Employment.Status
0                 1  Alabama      1 year of college  Not in labor force
1                 2  Alabama     4 years of college  Not in labor force
2                 3  Alabama      1 year of college            Employed
3                 4  Alabama     2 years of college            Employed
4                 5  Alabama               Grade 12  Not in labor force
...             ...      ...                    ...                 ...
3156482     3156483  Wyoming      1 year of college  Not in labor force
3156483     3156484  Wyoming               Grade 12  Not in labor force
3156484     3156485  Wyoming      1 year of college  Not in labor force
3156485     3156486  Wyoming      1 year of college            Employed
3156486     3156487  Wyoming               Grade 12  Not in labor force

[3156487 rows x 4 columns]

In [12]:
education_list = ipums_data["Educational.Attainment"].unique()

some_college_map = {}

for i in education_list:
    if "college" in i:
        some_college_map[i] = "Some college"
    else:
        some_college_map[i] = "No college"

In [13]:
ipums_data["Educational.Attainment"].replace(some_college_map, inplace = True)

In [28]:
def get_proportions_of_series(pd_series):
    proportion_counts = pd_series.value_counts(normalize=True)
    proportions_dictionary = proportion_counts.to_dict()
    return proportions_dictionary

In [32]:
ipums_data["Employment.Status"].unique()

array(['Not in labor force', 'Employed', 'N/A', 'Unemployed'],
      dtype=object)

In [35]:
state_list = ipums_data["State"].unique()

column_names = ["State", 
                 "Proportion Some College", 
                 "Proportion No College", 
                 "Proportion Not In Labor Force",
                 "Proportion Employed",
                 "Proportion Unemployed"]

new_ipums_df = pd.DataFrame(columns = column_names)

for state in state_list:
    
    new_df = ipums_data[ipums_data.State == state]
    college_proportions = get_proportions_of_series(new_df["Educational.Attainment"])
    employment_proportions = get_proportions_of_series(new_df["Employment.Status"])
    
    state_proportions_dictionary = {}
    
    state_proportions_dictionary["State"] = state
    state_proportions_dictionary["Proportion Some College"] = college_proportions["Some college"]
    state_proportions_dictionary["Proportion No College"] = college_proportions["No college"]
    state_proportions_dictionary["Proportion Not In Labor Force"] = employment_proportions["Not in labor force"]
    state_proportions_dictionary["Proportion Employed"] = employment_proportions["Employed"]
    state_proportions_dictionary["Proportion Unemployed"] = employment_proportions["Unemployed"]
    
    new_ipums_df = new_ipums_df.append(state_proportions_dictionary, ignore_index=True)

In [36]:
new_ipums_df

,State,Proportion Some College,Proportion No College,Proportion Not In Labor Force,Proportion Employed,Proportion Unemployed
0,Alabama,0.378313,0.621687,0.387272,0.414465,0.026522
1,Alaska,0.334996,0.665004,0.268379,0.429640,0.054439
2,Arizona,0.423463,0.576537,0.360288,0.420071,0.029372
3,Arkansas,0.337680,0.662320,0.375891,0.416196,0.021251
4,California,0.445477,0.554523,0.323225,0.460973,0.030513
5,Colorado,0.497902,0.502098,0.287204,0.501805,0.022796
6,Connecticut,0.481617,0.518383,0.304905,0.501360,0.031074
7,Delaware,0.433224,0.566776,0.352756,0.467035,0.027274
8,District of Columbia,0.599157,0.400843,0.274150,0.549654,0.038068
9,Florida,0.436965,0.563035,0.383899,0.437219,0.025637
10,Georgia,0.405908,0.594092,0.333833,0.449982,0.026656
11,Hawaii,0.460869,0.539131,0.303222,0.500456,0.019092
12,Idaho,0.387089,0.612911,0.324851,0.433720,0.018866
13,Illinois,0.429576,0.570424,0.311231,0.477639,0.029097
14,Indiana,0.357837,0.642163,0.324153,0.467040,0.021460
15,Iowa,0.387062,0.612938,0.298044,0.494643,0.017193
16,Kansas,0.413606,0.586394,0.304022,0.481217,0.021056
17,Kentucky,0.365185,0.634815,0.361206,0.430653,0.023022
18,Louisiana,0.358984,0.641016,0.366554,0.427107,0.028488
19,Maine,0.427849,0.572151,0.361477,0.471027,0.018299
20,Maryland,0.471704,0.528296,0.290348,0.505824,0.025417
21,Massachusetts,0.501201,0.498799,0.299959,0.512499,0.027211
22,Michigan,0.405003,0.594997,0.353997,0.449376,0.026379
23,Minnesota,0.441800,0.558200,0.282583,0.509101,0.017463
24,Mississippi,0.367315,0.632685,0.380977,0.401228,0.030566
25,Missouri,0.381910,0.618090,0.336999,0.457843,0.021252
26,Montana,0.430863,0.569137,0.328905,0.459797,0.022242
27,Nebraska,0.418941,0.581059,0.276227,0.506757,0.016774
28,Nevada,0.397105,0.602895,0.326810,0.459630,0.030493
29,New Hampshire,0.489276,0.510724,0.297438,0.530086,0.019511
30,New Jersey,0.459137,0.540863,0.305537,0.488422,0.028598
31,New Mexico,0.402099,0.597901,0.369937,0.410021,0.032686
32,New York,0.444106,0.555894,0.332823,0.468522,0.027547
33,North Carolina,0.431574,0.568426,0.345215,0.448693,0.026377
34,North Dakota,0.426373,0.573627,0.277340,0.512843,0.015641
35,Ohio,0.381091,0.618909,0.331298,0.466226,0.025412
36,Oklahoma,0.343877,0.656123,0.347658,0.422046,0.024769
37,Oregon,0.469766,0.530234,0.346917,0.458839,0.026149
38,Pennsylvania,0.379862,0.620138,0.340756,0.466701,0.025002
39,Rhode Island,0.466144,0.533856,0.333527,0.496905,0.023796
40,South Carolina,0.410557,0.589443,0.360066,0.445285,0.026072
41,South Dakota,0.389685,0.610315,0.271977,0.489398,0.019484
42,Tennessee,0.373436,0.626564,0.355749,0.444652,0.023328
43,Texas,0.393843,0.606157,0.313827,0.455093,0.024735
44,Utah,0.423931,0.576069,0.259186,0.456786,0.020015
45,Vermont,0.457963,0.542037,0.312432,0.518952,0.017314
46,Virginia,0.469143,0.530857,0.308740,0.490831,0.022108
47,Washington,0.470483,0.529517,0.323626,0.468453,0.024591
48,West Virginia,0.335920,0.664080,0.411581,0.395164,0.029650
49,Wisconsin,0.395431,0.604569,0.307142,0.495996,0.018679
50,Wyoming,0.414310,0.585690,0.296379,0.475517,0.028276

In [38]:
new_ipums_df.to_csv("Proportions_Ipums.csv")

In [41]:
ipums_data.shape

(3156487, 4)